html {
    margin: 2vw 10vw 2vw 10vw;
    font-family: 'Share Tech Mono', monospace;

    color: #333;

    font-weight: lighter;
    line-height: 3vw;
}

body {
  font-weight: 100;
  line-height: 3vw;
  font-size: 2vw;

}

h1, h2, h3 {
    /*font-weight: bold;
    font-size: 3vw;*/
}

h4, h5, h6 {
    /*font-weight: bold;
    font-size: 2.5vw;*/


}

a {
    /*border-radius: 2vw;
    padding: 0.25vw 1vw 0.25vw 1vw ;
    border: 0.15vw solid #777;*/
    background-color: #DDD;
    color: #333;
    text-decoration: none;
}

a[href]:hover {
    /*border-radius: 2vw;
    padding: 0.25vw 1vw 0.25vw 1vw ;
    border: 0.15vw solid orange;
    color: #444;*/
    background-color: orange;
    color: #333;

    text-decoration: none;
}

a[href]:active {
    /*border-radius: 2vw;
    padding: 0.25vw 1vw 0.25vw 1vw ;
    border: 0.15vw solid #DDD;*/
    text-decoration: none;
    color: #333;

}


canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
  /*background-color: lightgrey;*/
}
