html {
    margin: 5vw 3vw 15vw 3vw;
    font-family: monospace;
}

a {
    background-color: lightgrey;
    text-decoration: none;
    color: inherit;
}

a[href]:hover {
    background-color: black;
    color: white;
}

