html {
    height: 100%; 
    overflow-y: scroll;
}

img {
    width:      100%;
    max-width:  900px;
}


@media (prefers-color-scheme: dark) {
    body {
        background-color: white;
        color: black;
    }
}


