html {
    height:         100%; 
    overflow-y:     scroll;
    font-size:      1.5vw;
    font-weight:    normal;
    background-color: white;
    color: black;
}

body {
    margin: 0px; 
    border: 0px; 
    padding: 0px; 
}

h1, h2, h3, h4, h5, h6 {
    /* font-size:      48px; */
    font-size:      3vw;
    line-height:    120%;
    
    font-family:    sans;
    font-weight:    normal;
    margin:         0px;
}

h1 {
    font-size:      4vw;
    line-height:    120%;
}

.container {
    padding:    1em;
}

.sidenav {
    float: left;
    width: 16em;
}

.main {
    float: left;
    max-width: 60%;
}

#name{
    font-weight:    normal;
    font-family:    sans-serif;
    color:      rgb(255, 94, 0);
    font-style:     italic;
    
}

li, p {
    line-height: 220%;
}


ul {
    padding-left: 0;
}

li {
    list-style-type:none;
}


.code {
    line-height: 150%;
    font-family: monospace;
}


a {
    text-decoration: underline;
    color: black;
}


a[href]:hover {
    color: rgb(255, 94, 0);
}


a[href]:active {
    color:skyblue;
}


img {
    width: 80%;
}

.portrait {
    float: right;
    width: 200px;
    border-radius: 50%;
}

@media only screen and (max-width: 1200px) 
{

    h1, h2, h3, h4, h5, h6 {
        /* font-size:      48px; */
        font-size:      7vw;
        line-height:    120%;
        
        font-family:    sans;
        font-weight:    normal;
        margin:         0px;
    }

    h1 {
        font-size:      10vw;
        line-height:    120%;
    }

    html {
        background-color: black;
        color: white;
        font-size:      6vw;
    }


    a {
        /* text-decoration: underline; */
        color: white;
    }

    .container {
        padding:    1em;
    }
    
    .sidenav {
        float: left;
        width: 100%;
    }

    .sidenav li
    {
        float: left;
        margin-right: 0.5em;
    }

    .main {
        float: left;
        max-width: 100%;
    }

    img {
        width: 100%;
    }

}