html {
    height: 100%; 
    overflow-y: scroll;
    font-size: 20px;
    line-height: 150%;
    font-family: monospace;
}

body {
    background: white;
    color: black;

    font-size: 20px;

    margin: 0px; 
    border: 0px; 
    padding: 0px; 
}

h1, h2, h3, h4, h5, h6 {
    font-size:      20px;
    line-height:    300%;
    font-weight:    bold;
}

#nav {
    line-height: 150%;
}

.container {
    margin:     auto;
    padding:    1em 1em 1em 1em;
    max-width:  900px;
}

li, p {

}


ul {
}


li {
    list-style-type:none;
}


.code {
    line-height: 150%;
}


a {
    text-decoration: underline;
    color:#000;
}


a[href]:hover {
    color:#AAA;
}


a[href]:active {
    color:orange;
}


img {
    width: 80%;
}

.portrait {
    float: right;
    width: 200px;
    border-radius: 50%;
}

.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}


@media screen and (max-width: 992px) {

    html {
        height: 100%; 
        overflow-y: scroll;
        font-size:	32px;
        line-height: 150%;
        font-family: monospace;
    }

    body {
        font-size:	32px;
        line-height: 150%;
        color: white;
        background-color: black;
    }


    h1, h2, h3, h4, h5, h6{
        font-size:	32px;
        font-weight: bold;
        color: white; 
        line-height: 300%;
    }

    #nav {
        border-bottom: 2px solid white;
    }

    a {
        text-decoration: underline;
        color: white;
    }   
} 



