html {
    height:         100%; 
    overflow-y:     scroll;
    font-size:      2em;
    font-weight:    normal;
    /* background-color: white; */
    /* color: black; */

}

body {
    margin: 0px; 
    border: 0px; 
    padding: 0px; 
}

h1, h2, h3, h4, h5, h6 {
    line-height:    120%;
    font-family:    Helvetica, Arial, sans-serif;
    font-weight:    normal;
    margin:         0px;
}


.row{
    display: flex;
    flex-direction: row;
    margin: 0;
    
}

.col{
    flex-direction:column;
    margin: 0;
    padding: 1em;
}

.fullwidth{
    flex: 100%;
}

.side { 
    flex: 15%;
}
.side ul    { margin: 0; padding: 0;  }
.side li    { list-style-type: none; }

.main {
    flex: 80%;
}

.orange {
    font-style: italic;
    color:rgb(255, 128, 0);
}

#name {
    font-weight:    normal;
    font-family:    Helvetica, Arial, sans-serif;
    font-style:     italic;
}

li, p {
    line-height: 220%;
}

a {
    text-decoration: underline;
    color: black;
}

a[href]:hover {
    color: rgb(255, 94, 0);
}

a[href]:active {
    color:skyblue;
}

img {
    width: 80%;
    max-width: 900px;
}

pre {
    border-left: 3px solid orange;
    padding: 1em;
    border-radius: 1em;
}

code {
    font-family: monospace;
}

@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait)
{

    body {
        margin: 0px; 
        border: 0px; 
        padding: 0px; 
        display:inline;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size:      7vw;
        
        font-family:    sans-serif;
        font-weight:    normal;
        margin:         0px;

    }

    h2, h3, h4, h5, h6 {

        color:grey;
    }

    h1 {
        font-size:      10vw;
    }

    html {
        background-color: black;
        color: white;
        font-size:      6vw;
    }

    a {
        /* text-decoration: underline; */
        color: white;
    }

   
    a[href]:active {
        color:orange;
    }

    .row{
        display: flex;
        flex-direction: column;
        margin: 0;
        
    }
    
    .col{
        flex-direction:column;
        margin: 0;
        padding: 1em;
    }
    
    .fullwidth{
        flex: 100%;
    }
    
    .side { 
        flex: 100%;
    }
    .side ul    { margin: 0; padding: 0;  }
    .side li    { display:inline-block; list-style-type: none; }
    
    .main{
        flex: 100%;
    }
    
    img {
        width: 100%;
    }

    pre {
        border-left: 2px solid orange;
        padding: 0.25em;
        font-size: 0.75em;
    }

    .orange {
        font-style: italic;
        color:orange;
    }
}