
:root {

  --main-background: #f3ede6;
  --main-highlight: #5F5F5F;
  /* --main-bg-highlight: #5F5F5F; */
  --main-foreground: #3F3F3F;
  /* --main-fg-highlight: #5F5F5F; */

  --menu-background: #f3ede6;

  --quote-foreground: #3F3F3F;
  --quote-background: #fff9f3;
  --quote-ident: #e2c3a5;

  --pre-foreground: #3F3F3F;
  --pre-background: #fff9f3;
  --pre-ident: #e1e2a5;

  --global-line-height: 180%;

}

html {
  font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  margin: 0em;
  padding: 0em;
  font-size: 140%;
  color: var(--main-foreground);
  background-color: var(--main-background);
}

body {
  margin: 0em;
  padding: 0em;
  line-height: var(--global-line-height);
}

header {
  padding-left: 1em;
  padding-right: 1em;
  
}

header > h1{
  font-size: 140%;
}

h1, h2 {
  font-size: 140%;
}

h2 {

}

main
{
  /* background-color: var(--main-background); */
  min-height: 70vh;

}

header, .subheader, .container{
  max-width: 80ch;
  margin: auto;
}

.subheader {
  padding-left: 1em;
  padding-right: 1em;  
}


.container {
  padding-left: 1em;
  padding-right: 1em;  
}

.bar{
  background-color: var(--menu-background);
}

nav {
  max-width: 80ch;
  margin: auto;
  padding: oem 1em 0em 1em;
}


nav > ul {
  margin: 0 0 0 0;
  padding: 0;
  list-style: none; 
  display: block;
}

nav > ul > li {
  margin: 0;
  padding: 0;
  /* padding-left: 1em; */
  padding-right: 2em;
  display: inline-block;
}



img {
  width: 100%; 
  height: auto;
  display: block;
  margin: 1ch 0; 
}

pre
{
  background-color: var(--pre-background);
  color: var(--pre-foreground);
  border-left: 0.5em solid var(--pre-ident);
  padding: 0.5em 1em; 
  max-width: 80%;

}

code {
  font-family: monospace;
} 


blockquote {
  color: var(--quote-foreground);
  background-color: var(--quote-background);
  border-left: 0.5em solid var(--quote-ident);
  padding: 0.5em 1em; 
  max-width: 80%;
} 


footer {
  color: var(--menu-background);
  /* margin: 2em 0; */
  /* padding: 0; */
}

a {
  color: var(--main-highlight);
  text-decoration: none;
  border-bottom: 1px solid var(--main-highlight);
}

a:hover {
  color: var(--main-background);
  background-color: var(--main-highlight);
  border-bottom: 1px solid var(--main-foreground);
}

a:focus {
  color: var(--main-background);
  background-color: var(--main-foreground);
  border-bottom: 1px solid var(--main-highlight);
}
