

:root {
  --main-white: #FFF;
  --main-orange: #F70;
  --main-black: #222;
  --main-gray: #EEE;
}


html {
  font-family: sans-serif;
  margin: 0em;
  padding: 0em;
  font-size: 120%;
  color: var(--main-black);
}

body {
  margin: 0em;
  padding: 0em;
  line-height: 180%;
}

header {
  padding-left: 1em;
  padding-right: 1em;
  
}

header > h1{
  font-size: 140%;
}

h1, h2 {
  font-size: 140%;
}

h2 {

}

main
{

  
  background-color: var(--main-white);
  min-height: 70vh;
}

header, .subheader, .container{
  max-width: 80ch;
  margin: auto;
}

.subheader {
  /* border: 1px solid purple; */
  /* background: #FFF; */

  padding-left: 1em;
  padding-right: 1em;  
}


.container {
  padding-left: 1em;
  padding-right: 1em;  
}

.bar{
  /* margin-left: 1em; */
  /* padding-right: 1em;   */

  /* width: 100%; */
  background-color: var(--main-gray);
}

nav {
  max-width: 80ch;
  margin: auto;
  padding: 1em;
}


nav > ul {
  margin: 0 0 0 0;
  padding: 0;
  list-style: none; 
  display: block;
}

nav > ul > li {
  margin: 0;
  padding: 0;
  padding-right: 1em;
  display: inline-block;
}



img {
  width: 100%; 
  height: auto;
  display: block;
  margin: 1ch 0; 
}

pre
{
  background-color: #EFE;
  /* margin: 1em 0 0 10%; */

  border-left: 0.5em solid #AFA;
  padding: 0.5em 1em; 
  max-width: 80%;

  /* border: 1px solid black; */
  /* border-radius: 1em; */
  /* padding: 1em; */
}

code {
  font-family: monospace;
} 


blockquote {
  background-color: #EEF;
  /* margin: 1em 0 0 10%; */
  border-left: 0.5em solid #AAF;
  padding: 0.5em 1em; 
  max-width: 80%;
} 


footer {
  /* color: #666; */
  /* margin: 2em 0; */
  /* padding: 0; */
}


a {
  color: var(--main-orange);
  border-bottom: 2px solid var(--main-orange);
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: var(--main-orange);
  border-bottom: 2px solid var(--main-black);
}

a:focus {
  color: white;
  background-color: var(--main-black);
  border-bottom: 2px solid var(--main-orange);
}
