
html {
  max-width: 80ch;
  padding: 1em 0em;
  margin: auto;
  line-height: 1.4em;
  font-size: 1.125em;
  font-family: helvetica, Arial, sans-serif;
}

nav {
  padding: 0.5em 0;
  border-top: 1px solid #171830;
  border-bottom: 1px solid #171830;
}


nav > ul {
  margin: 0 0 0 0;
  padding: 0;
  list-style: none; 
  display: block;
}

nav > ul > li {
  margin: 0 1em 0 0;
  padding: 0;
  display: inline-block;
}



img {
  width: 100%; /* Set the images to take the full width of their container */
  height: auto; /* Maintain the aspect ratio of the images */
  display: block; /* Make the images behave as block elements to control their width */
  margin: 1ch 0; 
  /* Add some vertical margin to images */
}

pre
{
  background-color: #EFE;
  /* margin: 1em 0 0 10%; */

  border-left: 0.5em solid #AFA;
  padding: 0.5em 1em; 
  max-width: 80%;

  /* border: 1px solid black; */
  /* border-radius: 1em; */
  /* padding: 1em; */
}

code {
  font-family: monospace;
} 


blockquote {
  background-color: #EEF;
  /* margin: 1em 0 0 10%; */
  border-left: 0.5em solid #AAF;
  padding: 0.5em 1em; 
  max-width: 80%;
} 
