

:root {

  /* --main-white: #FFF; */
  /* --main-orange: #F70; */
  /* --main-black: #222; */
  /* --main-gray: #EEE; */

  --main-background: #111;
  --main-highlight: #CCC;
  --main-foreground: #EEE;
  --menu-background: #111;

  --quote-background: #222;
  --quote-ident: #334;

  --pre-background: #222;
  --pre-ident: #343;

}

html {
  /* font-family: sans-serif; */
  font-family: 'Times New Roman', Times, serif;
  margin: 0em;
  padding: 0em;
  font-size: 120%;
  color: var(--main-foreground);
  background-color: var(--main-background);
}

body {
  margin: 0em;
  padding: 0em;
  line-height: 180%;
}

header {
  padding-left: 1em;
  padding-right: 1em;
  
}

header > h1{
  font-size: 140%;
}

h1, h2 {
  font-size: 140%;
}

h2 {

}

main
{
  background-color: var(--main-background);
  min-height: 70vh;
}

header, .subheader, .container{
  max-width: 80ch;
  margin: auto;
}

.subheader {
  /* border: 1px solid purple; */
  /* background: #FFF; */

  padding-left: 1em;
  padding-right: 1em;  
}


.container {
  padding-left: 1em;
  padding-right: 1em;  
}

.bar{
  /* margin-left: 1em; */
  /* padding-right: 1em;   */

  /* width: 100%; */
  background-color: var(--menu-background);
}

nav {
  max-width: 80ch;
  margin: auto;
  padding: 1em;
}


nav > ul {
  margin: 0 0 0 0;
  padding: 0;
  list-style: none; 
  display: block;
}

nav > ul > li {
  margin: 0;
  padding: 0;
  padding-right: 1em;
  display: inline-block;
}



img {
  width: 100%; 
  height: auto;
  display: block;
  margin: 1ch 0; 
}

pre
{
  background-color: var(--pre-background);
  /* margin: 1em 0 0 10%; */

  border-left: 0.5em solid var(--pre-ident);
  padding: 0.5em 1em; 
  max-width: 80%;

  /* border: 1px solid black; */
  /* border-radius: 1em; */
  /* padding: 1em; */
}

code {
  font-family: monospace;
} 


blockquote {
  
  background-color: var(--quote-background);
  /* margin: 1em 0 0 10%; */
  border-left: 0.5em solid var(--quote-ident);
  padding: 0.5em 1em; 
  max-width: 80%;
} 


footer {
  color: var(--menu-background);
  /* margin: 2em 0; */
  /* padding: 0; */
}

a {
  color: var(--main-highlight);
  text-decoration: none;
  border-bottom: 1px solid var(--main-highlight);
}

a:hover {
  color: var(--main-background);
  background-color: var(--main-highlight);
  border-bottom: 1px solid var(--main-foreground);
}

a:focus {
  color: var(--main-background);
  background-color: var(--main-foreground);
  border-bottom: 1px solid var(--main-highlight);
}
