---
layout: default
title: research
---
<h1>{{ page.title }}</h1>

<h2>online experiments</h2>

{% for doc in site.experiments %}
    <a href="{{ doc.url }}">{{ doc.title }}</a>
    <br />
{% endfor %}

<h2>publications</h2>

{% for paper in site.data.papers %}
   <p>{{ paper.authors }} ({{paper.year}}) {{paper.title}} {{paper.publication}}

        {% if paper.web %}
            <a href = "{{paper.web}}">web</a>
        {% endif %}

        {% if paper.file %}
            <a href = "{{paper.file}}">pdf</a>
        {% endif %}
   </p>
{% endfor %}
