
<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		
		<body>
			<nav>
				<a href="/">top</a> 
				<a href="/teaching">teaching</a> 
				<a href="/research">research</a> 
				<a href="/games">games</a> 				
				<a href="/blog">blog</a>
			</nav>
		<br /><br />
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
			<footer>
				<br /><br />
				<a href = "mailto:sean2.butler@uwe.ac.uk>email</a>
				<a href = "https://twitter.com/butlersean">twitter</a>
				<a href="https://github.com/seanbutler">github</a>

				<p>CS&CT, FET, UWE, Bristol. BS16 1QY. UK.</p>			       
			</footer>
		</body>
	</html>
