<!DOCTYPE html>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-3D9CFEDF9P"></script>

		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-3D9CFEDF9P');
		</script>

		<title>{{ page.title }} / sean butler</title>
		<link rel="stylesheet" type="text/css" href="/css/mini.css">
		<!-- <link rel="stylesheet" type="text/css" href="/css/mini2.css"> -->
	</head>

	<body>

		<div class="container" id = "nav">
			<span id="name">sean butler</span>
			<a href="/">hello</a>
			<a href="/blog">blog</a>
			<a href="/games">games</a>
			<a href="/publications">publications</a>
			<a href="/teaching">teaching</a>
		</div>

		<div class="container">
			{{ content }}
		</div>

		<div class="container" id="ftr" >
			<a href = "mailto:sean2.butler@uwe.ac.uk">email</a>
			<a href = "https://people.uwe.ac.uk/Person/Sean2Butler">UWE</a>
			<a href = "https://scholar.google.co.uk/citations?user=XicxPzcAAAAJ">google scholar</a>
			<a href = "https://dblp.uni-trier.de/pers/hd/b/Butler:Sean">DBLP</a>
			<a href = "https://twitter.com/butlersean">twitter</a>
			<a href = "https://github.com/seanbutler">github</a>
			<a href = "https://fentlewoodlewix.itch.io/">itch</a>
			<a href = "https://www.mobygames.com/developer/sheet/view/developerId,105067">mobygames</a>
		</div>
	



	</body>
	

</html>
