<!DOCTYPE html>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-3D9CFEDF9P"></script>

		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-3D9CFEDF9P');
		</script>

		<title>{{ page.title }} / sean butler</title>
		<link rel="stylesheet" type="text/css" href="/css/mini.css">
		<!-- <link rel="stylesheet" type="text/css" href="/css/mini2.css"> -->
	</head>

	<body>

		<div class = "row">
			
			<div class="col lhs">

				<h1 class = "title">sean butler</h1>

				<ul>
					<li>
						<a href="/">hello</a>
					</li>
					<li>
						<a href="/blog">blog</a>
					</li>
					<li>
						<a href="/publications">publications</a>
					</li>
					<li>
						<a href="/games">games</a>
					</li>
					<li>
						<a href="/teaching">teaching</a>
					</li>

				</ul>

				<ul>
					<li>
						<a href = "mailto:sean2.butler@uwe.ac.uk">email</a>
					</li>
					<li>
						<a href = "https://people.uwe.ac.uk/Person/Sean2Butler">UWE</a>
					</li>
					<li>
						<a href = "https://twitter.com/butlersean">twitter</a>
					</li>
					<li>
						<a href = "https://scholar.google.co.uk/citations?user=XicxPzcAAAAJ">google scholar</a>
					</li>
					<li>
						<a href = "https://dblp.uni-trier.de/pers/hd/b/Butler:Sean">DBLP</a>
					</li>
					<li>
						<a href = "https://github.com/seanbutler">github</a>
					</li>
					<li>
						<a href = "https://fentlewoodlewix.itch.io/">itch</a>
					</li>
					<li>
						<a href = "https://www.mobygames.com/developer/sheet/view/developerId,105067">mobygames</a>
					</li>
				</ul>			
			</div>


			<div class="col main">
				{{ content }}
			</div>


			<div class="col rhs">
			</div>


		</div>

	</body>
</html>
