<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>sean butler / {{ page.title }}</title>
  <link rel="stylesheet" href="/nano.css">
  <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <header>
    <h1>sean butler</h1>
  </header>


  <main>

    {% include nav_int.html %}

    <div class = "subheader">
        <h2>{{page.title}}</h2>
    </div>

    <div class = "container">
        
        {{ content }}

        {% assign tags = page.tags %}

        ( see also: 
        {% for tag in tags %}
          <a href="{{site.baseurl}}/tags/#{{tag|slugize}}">{{tag}}</a>
        <!-- {% unless forloop.last %}&nbsp;{% endunless %} -->
        {% endfor %}
        )
    </div>

  </main>


  <footer>
    {% include nav_ext.html %}
  </footer>

</body>

</html>