---
layout: default
title: publications
---
<h1>{{ page.title }}</h1>
<h2>peer reviewed</h2>

{% for paper in site.data.papers %}
   <p>{{ paper.authors }} ({{paper.year}}) {{paper.title}} {{paper.publication}}

        {% if paper.web %}
            <a href = "{{paper.web}}">page</a>
        {% endif %}

        {% if paper.file %}
            <a href = "{{paper.file}}">file</a>
        {% endif %}
   </p>
{% endfor %}


<h2>articles</h2>

{% for article in site.data.articles %}
   <p>
        {{ article.authors }} ({{article.year}}) {{article.title}}

        {% if article.publication %}
           in {{article.publication}} ed: {{article.editors}}
        {% endif %}

        {% if article.editors %}
             {{article.publication}} ed: {{article.editors}}
        {% endif %}

        {% if article.web %}
                <a href = "{{article.web}}">page</a>
        {% endif %}

        {% if article.file %}
            <a href = "{{article.file}}">file</a>
        {% endif %}
    </p>
{% endfor %}
